In [87]:
import os
import numpy as np
import pandas as pd

dir_data = 'E:/data/'
f_app = os.path.join(dir_data, 'application_test.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)
app_train.describe()

Path of read in data: E:/data/application_test.csv

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,48744.000000,48744.000000,4.874400e+04,4.874400e+04,48720.000000,4.874400e+04,48744.000000,48744.000000,48744.000000,48744.000000,...,48744.000000,48744.0,48744.0,48744.0,42695.000000,42695.000000,42695.000000,42695.000000,42695.000000,42695.000000
mean,277796.676350,0.397054,1.784318e+05,5.167404e+05,29426.240209,4.626188e+05,0.021226,-16068.084605,67485.366322,-4967.652716,...,0.001559,0.0,0.0,0.0,0.002108,0.001803,0.002787,0.009299,0.546902,1.983769
std,103169.547296,0.709047,1.015226e+05,3.653970e+05,16016.368315,3.367102e+05,0.014428,4325.900393,144348.507136,3552.612035,...,0.039456,0.0,0.0,0.0,0.046373,0.046132,0.054037,0.110924,0.693305,1.838873
min,100001.000000,0.000000,2.694150e+04,4.500000e+04,2295.000000,4.500000e+04,0.000253,-25195.000000,-17463.000000,-23722.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,188557.750000,0.000000,1.125000e+05,2.606400e+05,17973.000000,2.250000e+05,0.010006,-19637.000000,-2910.000000,-7459.250000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,277549.000000,0.000000,1.575000e+05,4.500000e+05,26199.000000,3.960000e+05,0.018850,-15785.000000,-1293.000000,-4490.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,367555.500000,1.000000,2.250000e+05,6.750000e+05,37390.500000,6.300000e+05,0.028663,-12496.000000,-296.000000,-1901.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000
max,456250.000000,20.000000,4.410000e+06,2.245500e+06,180576.000000,2.245500e+06,0.072508,-7338.000000,365243.000000,0.000000,...,1.000000,0.0,0.0,0.0,2.000000,2.000000,2.000000,6.000000,7.000000,17.000000

In [86]:
app_train.iloc[:5, :5]

   SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY
0      100001         Cash loans           F            N               Y
1      100005         Cash loans           M            N               Y
2      100013         Cash loans           M            Y               Y
3      100028         Cash loans           F            N               Y
4      100038         Cash loans           M            Y               N

In [76]:
app_train.axes

[RangeIndex(start=0, stop=48744, step=1),
 Index(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
        'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
        'AMT_ANNUITY', 'AMT_GOODS_PRICE',
        ...
        'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
        'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
        'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
        'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
        'AMT_REQ_CREDIT_BUREAU_YEAR'],
       dtype='object', length=121)]

In [77]:
app_train.dtypes

SK_ID_CURR                      int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
REGION_RATING_CLIENT            int64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 121, dtype: object

In [78]:
app_train.empty

False

In [79]:
app_train.ndim

2

In [80]:
app_train.shape

(48744, 121)

In [81]:
app_train.size

5898024

In [82]:
app_train.values

array([[100001, 'Cash loans', 'F', ..., 0.0, 0.0, 0.0],
       [100005, 'Cash loans', 'M', ..., 0.0, 0.0, 3.0],
       [100013, 'Cash loans', 'M', ..., 0.0, 1.0, 4.0],
       ...,
       [456223, 'Cash loans', 'F', ..., 0.0, 3.0, 1.0],
       [456224, 'Cash loans', 'M', ..., 0.0, 0.0, 2.0],
       [456250, 'Cash loans', 'F', ..., 0.0, 1.0, 4.0]], dtype=object)

In [83]:
app_train.info

<bound method DataFrame.info of        SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0          100001         Cash loans           F            N               Y
1          100005         Cash loans           M            N               Y
2          100013         Cash loans           M            Y               Y
3          100028         Cash loans           F            N               Y
4          100038         Cash loans           M            Y               N
5          100042         Cash loans           F            Y               Y
6          100057         Cash loans           M            Y               Y
7          100065         Cash loans           M            N               Y
8          100066         Cash loans           F            N               Y
9          100067         Cash loans           F            Y               Y
10         100074         Cash loans           F            N               Y
11         100090         Cash loans           F            N               Y
12         100091         Cash loans           F            N               Y
13         100092         Cash loans           F            Y               Y
14         100106    Revolving loans           M            N               Y
15         100107         Cash loans           M            Y               Y
16         100109         Cash loans           F            Y               Y
17         100117         Cash loans           M            Y               Y
18         100128         Cash loans           F            Y               Y
19         100141         Cash loans           F            Y               Y
20         100150         Cash loans           F            N               Y
21         100168         Cash loans           F            N               Y
22         100169         Cash loans           F            N               Y
23         100170         Cash loans           M            N               Y
24         100171         Cash loans           M            Y               Y
25         100172         Cash loans           F            N               Y
26         100184         Cash loans           F            N               Y
27         100187         Cash loans           F            N               Y
28         100212         Cash loans           F            Y               N
29         100222         Cash loans           F            Y               Y
...           ...                ...         ...          ...             ...
48714      455963         Cash loans           F            N               N
48715      455965         Cash loans           M            Y               Y
48716      456007         Cash loans           M            N               Y
48717      456008         Cash loans           F            N               Y
48718      456009         Cash loans           F            N               Y
48719      456010         Cash loans           F            N               Y
48720      456011         Cash loans           F            Y               Y
48721      456013         Cash loans           F            N               Y
48722      456028         Cash loans           M            N               Y
48723      456058         Cash loans           F            N               N
48724      456111         Cash loans           F            N               Y
48725      456114         Cash loans           F            N               N
48726      456115         Cash loans           M            N               Y
48727      456116         Cash loans           F            N               N
48728      456119         Cash loans           F            N               Y
48729      456120         Cash loans           F            N               N
48730      456122         Cash loans           M            Y               N
48731      456123         Cash loans           F            Y               Y
48732      456166         Cash loans           F            N               Y
48733      456167         Cash loans           F            N               Y
48734      456168         Cash loans           F            N               Y
48735      456169         Cash loans           F            N               N
48736      456170         Cash loans           F            Y               Y
48737      456189         Cash loans           F            N               Y
48738      456202         Cash loans           F            Y               N
48739      456221         Cash loans           F            N               Y
48740      456222         Cash loans           F            N               N
48741      456223         Cash loans           F            Y               Y
48742      456224         Cash loans           M            N               N
48743      456250         Cash loans           F            Y               N

       CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0                 0          135000.0    568800.0      20560.5
1                 0           99000.0    222768.0      17370.0
2                 0          202500.0    663264.0      69777.0
3                 2          315000.0   1575000.0      49018.5
4                 1          180000.0    625500.0      32067.0
5                 0          270000.0    959688.0      34600.5
6                 2          180000.0    499221.0      22117.5
7                 0          166500.0    180000.0      14220.0
8                 0          315000.0    364896.0      28957.5
9                 1          162000.0     45000.0       5337.0
10                0           67500.0    675000.0      25447.5
11                0          135000.0    261621.0      16848.0
12                0          247500.0    296280.0      23539.5
13                0           90000.0    360000.0      18535.5
14                0          180000.0    157500.0       7875.0
15                0          180000.0    296280.0      21690.0
16                0          202500.0    407520.0      26041.5
17                0           90000.0    499221.0      22117.5
18                1          225000.0    431280.0      23526.0
19                0          175500.0    478498.5      46741.5
20                0           99000.0    225000.0      19242.0
21                0          157500.0    266652.0      16443.0
22                0          135000.0    540000.0      27702.0
23                1          337500.0   1313212.5      42493.5
24                0          157500.0    539100.0      29245.5
25                0           76500.0    225000.0      12334.5
26                0          112500.0    256032.0      10759.5
27                0          225000.0    501363.0      25726.5
28                0           90000.0    450000.0      23107.5
29                0          360000.0    945000.0      34074.0
...             ...               ...         ...          ...
48714             1          360000.0    547272.0      43366.5
48715             0          315000.0    900000.0      57519.0
48716             0          135000.0    318645.0      16398.0
48717             0           81000.0    180000.0      13455.0
48718             0          225000.0    360000.0      19530.0
48719             1          112500.0    690313.5      35374.5
48720             1          171000.0    323460.0      23134.5
48721             1          130500.0    468333.0      37129.5
48722             0          220500.0    166500.0      13284.0
48723             1           67500.0    315000.0      16213.5
48724             1          112500.0    514710.0      17707.5
48725             0           45000.0    450000.0      24543.0
48726             1          225000.0   1002339.0      37917.0
48727             1          180000.0    149256.0      15291.0
48728             0          247500.0    685386.0      38398.5
48729             2           81000.0    135000.0      16020.0
48730             2          157500.0    445095.0      40824.0
48731             0          112500.0    450000.0      28890.0
48732             0          189000.0    479700.0      54382.5
48733             0          135000.0   1047771.0      37764.0
48734             0          135000.0    835686.0      46660.5
48735             0           85500.0    109008.0       7411.5
48736             0          157500.0    500490.0      48888.0
48737             0          270000.0    360000.0      28570.5
48738             3          135000.0    252022.5      23112.0
48739             0          121500.0    412560.0      17473.5
48740             2          157500.0    622413.0      31909.5
48741             1          202500.0    315000.0      33205.5
48742             0          225000.0    450000.0      25128.0
48743             0          135000.0    312768.0      24709.5

       AMT_GOODS_PRICE             ...             FLAG_DOCUMENT_18  \
0             450000.0             ...                            0
1             180000.0             ...                            0
2             630000.0             ...                            0
3            1575000.0             ...                            0
4             625500.0             ...                            0
5             810000.0             ...                            0
6             373500.0             ...                            0
7             180000.0             ...                            0
8             315000.0             ...                            0
9              45000.0             ...                            0
10            675000.0             ...                            0
11            216000.0             ...                            0
12            225000.0             ...                            0
13            360000.0             ...                            0
14            157500.0             ...                            0
15            225000.0             ...                            0
16            360000.0             ...                            0
17            373500.0             ...                            0
18            360000.0             ...                            0
19            454500.0             ...                            0
20            225000.0             ...                            0
21            202500.0             ...                            0
22            540000.0             ...                            0
23           1012500.0             ...                            0
24            450000.0             ...                            0
25            225000.0             ...                            0
26            180000.0             ...                            0
27            418500.0             ...                            0
28            450000.0             ...                            0
29            945000.0             ...                            0
...                ...             ...                          ...
48714         495000.0             ...                            0
48715         900000.0             ...                            0
48716         216000.0             ...                            0
48717         180000.0             ...                            0
48718         360000.0             ...                            0
48719         549000.0             ...                            0
48720         270000.0             ...                            0
48721         382500.0             ...                            0
48722         166500.0             ...                            0
48723         315000.0             ...                            0
48724         387000.0             ...                            0
48725         450000.0             ...                            0
48726         846000.0             ...                            0
48727         135000.0             ...                            0
48728         585000.0             ...                            0
48729         135000.0             ...                            0
48730         405000.0             ...                            0
48731         450000.0             ...                            0
48732         450000.0             ...                            0
48733         904500.0             ...                            0
48734         765000.0             ...                            0
48735          90000.0             ...                            0
48736         450000.0             ...                            0
48737         360000.0             ...                            0
48738         217561.5             ...                            0
48739         270000.0             ...                            0
48740         495000.0             ...                            0
48741         315000.0             ...                            0
48742         450000.0             ...                            0
48743         270000.0             ...                            0

      FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
0                    0                0                0
1                    0                0                0
2                    0                0                0
3                    0                0                0
4                    0                0                0
5                    0                0                0
6                    0                0                0
7                    0                0                0
8                    0                0                0
9                    0                0                0
10                   0                0                0
11                   0                0                0
12                   0                0                0
13                   0                0                0
14                   0                0                0
15                   0                0                0
16                   0                0                0
17                   0                0                0
18                   0                0                0
19                   0                0                0
20                   0                0                0
21                   0                0                0
22                   0                0                0
23                   0                0                0
24                   0                0                0
25                   0                0                0
26                   0                0                0
27                   0                0                0
28                   0                0                0
29                   0                0                0
...                ...              ...              ...
48714                0                0                0
48715                0                0                0
48716                0                0                0
48717                0                0                0
48718                0                0                0
48719                0                0                0
48720                0                0                0
48721                0                0                0
48722                0                0                0
48723                0                0                0
48724                0                0                0
48725                0                0                0
48726                0                0                0
48727                0                0                0
48728                0                0                0
48729                0                0                0
48730                0                0                0
48731                0                0                0
48732                0                0                0
48733                0                0                0
48734                0                0                0
48735                0                0                0
48736                0                0                0
48737                0                0                0
48738                0                0                0
48739                0                0                0
48740                0                0                0
48741                0                0                0
48742                0                0                0
48743                0                0                0

      AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0                            0.0                        0.0
1                            0.0                        0.0
2                            0.0                        0.0
3                            0.0                        0.0
4                            NaN                        NaN
5                            0.0                        0.0
6                            0.0                        0.0
7                            0.0                        0.0
8                            0.0                        0.0
9                            0.0                        0.0
10                           0.0                        0.0
11                           0.0                        0.0
12                           0.0                        0.0
13                           0.0                        0.0
14                           0.0                        0.0
15                           0.0                        0.0
16                           0.0                        0.0
17                           0.0                        0.0
18                           0.0                        0.0
19                           NaN                        NaN
20                           0.0                        0.0
21                           0.0                        0.0
22                           0.0                        0.0
23                           0.0                        0.0
24                           0.0                        0.0
25                           0.0                        0.0
26                           0.0                        0.0
27                           0.0                        0.0
28                           0.0                        0.0
29                           0.0                        0.0
...                          ...                        ...
48714                        0.0                        0.0
48715                        0.0                        0.0
48716                        NaN                        NaN
48717                        0.0                        0.0
48718                        0.0                        0.0
48719                        0.0                        0.0
48720                        0.0                        0.0
48721                        0.0                        0.0
48722                        0.0                        0.0
48723                        0.0                        0.0
48724                        0.0                        0.0
48725                        0.0                        0.0
48726                        0.0                        0.0
48727                        0.0                        0.0
48728                        0.0                        0.0
48729                        NaN                        NaN
48730                        0.0                        0.0
48731                        0.0                        0.0
48732                        0.0                        0.0
48733                        0.0                        0.0
48734                        0.0                        0.0
48735                        NaN                        NaN
48736                        0.0                        0.0
48737                        0.0                        0.0
48738                        0.0                        0.0

In [84]:
app_train.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
app_train.ndim

2

In [92]:
app_train.tail()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0